* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.profile {
  max-width: 700px;
  width: 50vw;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 17px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 10px 10px 17px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 10px 10px 17px 15px rgba(0, 0, 0, 0.03);
}

.profile_image img {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.profile_name {
  text-transform: uppercase;
  margin: 5px 0;
  color: #28abb9;
  font-weight: bold;
  font-size: 15px;
}

.profile_title {
  color: #2d6187;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.profile_description {
  height: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #00bcd4;
}

.profile > div > button {
  background-color: transparent;
  border: none;
  margin-bottom: 15px;
  outline: none;
}

.profile_button-left {
  margin: 0 20px;
  height: 18px;
  color: #00bcd4;
}

.profile_button-right {
  margin: 0 20px;
  height: 18px;
  color: #00bcd4;
}

.profile_button-random {
  width: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #00bcd4;
}
